.color {
    color: red;
    font-size: 20px;
}

.form {
    margin-top: 50px;
}

.form__send {
    display: flex;
    align-items: center;
    height: 35px;
}

.form__send p {
    margin-right: 10px;
    font-weight: 700;
}

.form button {
    margin-left: 25px;
    margin-top: 3px;
    margin-bottom: 30px;
}

.black {
    width: 30px;
    height: 30px;
    background-color: black;
}

.white {
    width: 30px;
    height: 30px;
    background-color: #E6E6FA;
}

.chess-board {
    border: 1px black solid;
}

.chess-board-child {
    display: flex;
}

.flex {
    display: flex;
}

